body{
background-color: grey;
}

.blockA{
    background-color:#a09b9a;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    padding: 30px;
    list-style: none;
    
}

.navheader{
    font-size: 30px;
    color: green;
    font-weight: 900;
}
.navigationbars{
    float: right;
    font-size: medium;
    padding: 15px;

}

.navigationbars li{
    padding: 10px;
    color: grey;
    display: inline;
    }

    .navigationbars li .active{
        color: bisque;
        background:#86E3A2;
        padding: 15px;

    }
.navigationbars li a{
    text-decoration: none;
    } 


    .blockB{
    
    }
    .blockC{
        color: bisque;  
        display: flex; 
        justify-content: space-between;
       
    }
    
    #no-content{
        width: 30px;
    }

    #btn_btn{
        color: rgb(231, 16, 16);
        border: #f8ebea 2px solid;
        padding: 5px;
        width: 250px;
        background: none;
        border-radius: 40px;

    }
  













.nav-container{
    width: 100%;
    height: 80px;
    background-color: rgb(248, 246, 246);
}
.nav-tool{
    width: 47%;
    height: 100%;
    float: left;
    font-size: 40px;
    padding: 15px;
}
.logo-1{
    color: green;
    font-size: 30px;
    padding: 20px;
}
.logo-2{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;}
.nav{
    color: green;
    font-size: 20px;
}
.nav a{
    text-decoration: none;
    color: gray;
}
.nav .active{
    color:grey;
}
.nav ul li{
    display: inline;
    text-decoration: none;
    padding-right: 15px;
}
.nav .join{
    background-color: green;
    color:white;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
}
.line{
    width: 100%;
    height: 10px;
    background-color: green;
}
.head-con{
    text-align: center;
    color: white;

}
.head-con h3{
    font-size: 40px;

}
.head-con h5{
    font-size: 20px;
}
.div-11{
    background-color: #86E3A2;
}
.div-12{
    font-size: xx-large;
    color:green;


}
.div-13{
    
    background-color: rgba(236, 212, 212, 0.897)

}

.div-14{
    background-color: rgba(236, 212, 212, 0.897)
    
}
.content-div{
    background: dodgerblue;
    padding: 100px;
}

.footer{
    background: black;
    padding: 10px;
    margin-bottom: 0px;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.navigation-bars{
    background: black;
    list-style: none;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    border-radius: 30px;
}
.navigation-bars li{
    display: inline;
    padding: 40px;

}
.navigation-bars li a{
    text-decoration: none;
    color: white;
}

.navigation-bars li .active{
    color: yellow;
}

.top-header{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.social-links .fa-brands{
    color: orange;
    height: 50px;
    padding: 8px;
}
.div-a{
    font-size: xx-large;
}
.container{
    background: black;
    padding: 10px;
    margin-bottom: 0px;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
}